p {
    margin-bottom: 8px;
}

.location-btn {
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.location-btn:hover {
    background-color: #f0f0f0;
    border-color: #666;
}

.location-h {
    margin: 8px;
}

.small-gray-text {
    font-size: small;
    color: #b6b6b6;
}