@{
    Layout = "_Layout";
}

<form class="row" method="post">
    <h1 class="text-center">Sign in</h1>
    <div class="col-md-12 mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username">
    </div>
    <div class="col-md-12 mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="col-md-12 mb-3">
        <label for="InputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="InputPassword">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
</form>