@model RegisterRequestDto

@{
    Layout = "_Layout";
    ViewData["Title"] = "Sign up form";
}

<section class="position-relative py-4 py-xl-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Sign up form</h2>
                <p class="w-lg-50">Register to access weather information.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body d-flex flex-column align-items-center">
                        @Html.ValidationSummary()
                        <form class="text-center" method="post" asp-action="Register" asp-controller="User">
                            <div class="mb-3">
                                <input asp-for="Login" class="form-control" type="text" name="login" placeholder="Login">
                            </div>
                            <div class="mb-3">
                                <input asp-for="Password" class="form-control" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-block w-100" type="submit">Register</button>
                            </div>
                            <p class="text-muted">If you already have an account, <a asp-controller="user" asp-action="login">log in</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>